
@font-face {font-family: "SF Pro Display Regular";
  src: url("../../fonts/SF-Pro-Display-Regular/@font-face/SF-Pro-Display-Regular.eot"); /* IE9*/
  src: url("../../fonts/SF-Pro-Display-Regular/@font-face/SF-Pro-Display-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../../fonts/SF-Pro-Display-Regular/@font-face/SF-Pro-Display-Regular.woff2") format("woff2"), /* chrome、firefox */
  url("../../fonts/SF-Pro-Display-Regular/@font-face/SF-Pro-Display-Regular.woff") format("woff"), /* chrome、firefox */
  url("../../fonts/SF-Pro-Display-Regular/@font-face/SF-Pro-Display-Regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../../fonts/SF-Pro-Display-Regular/@font-face/SF-Pro-Display-Regular.svg#SF Pro Display Regular") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "SF Pro Display Bold";
  src: url("../../fonts/SF-Pro-Display-Bold/@font-face/SF-Pro-Display-Bold.eot"); /* IE9*/
  src: url("../../fonts/SF-Pro-Display-Bold/@font-face/SF-Pro-Display-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../../fonts/SF-Pro-Display-Bold/@font-face/SF-Pro-Display-Bold.woff2") format("woff2"), /* chrome、firefox */
  url("../../fonts/SF-Pro-Display-Bold/@font-face/SF-Pro-Display-Bold.woff") format("woff"), /* chrome、firefox */
  url("../../fonts/SF-Pro-Display-Bold/@font-face/SF-Pro-Display-Bold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../../fonts/SF-Pro-Display-Bold/@font-face/SF-Pro-Display-Bold.svg#SF Pro Display Regular") format("svg"); /* iOS 4.1- */
}