// Family fonts
$normal: "SF Pro Display Regular";
$bold: "SF Pro Display Bold";

// Colors

$primary: #091e42;
$white: #fff;
$white-content: #ffffffe6;

$light-gray: #8993a4;
$base-gray: #42526e;

$base-blue: #1d3051;
$light-blue: #56ccf2;

$light-yellow: #ffc121;
$light-green: #2dc8a6;
$bx: #091e42f2;
