.home {
    width: 100%;
    min-height: calc(100vh - 16.8rem);
    background-color: $primary;
    display: flex;
    justify-content: center;

    @include small(){
        min-height: calc(100vh - 9.6rem);
    }

    .home__container{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;

        .home__header{
            width: 100%;
            display: flex;
            align-items: flex-end; 
            justify-content: space-between;
            flex-wrap: wrap;
            padding-top: 23.8rem;
            padding-bottom: 17.1rem;

            .home__header-title{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                @include medium(){
                    &.off{
                        display: none;
                    }
                }
                
                @include min-medium(){
                    width: 57.66%;
                }
                
                .home__header-text{
                    font-size: 9.2rem;
                    line-height: 10.54rem;
                    letter-spacing: 0.1rem;
                    color: $white-content;
                    font-family: $bold;
                    margin: 0;
                    
                    @include large(){
                        font-size: 5.2rem;
                        line-height: 6.0rem;
                    }
                    
                    @include small(){
                        font-size: 4.2rem;
                        line-height: 4.8rem;
                    }

                }

                .input__button{
                    width: 44px;
                    height: 44px;
                    padding: 0;
                    display: none;
                    @include medium(){
                        display: block;
                    }

                }

            }

            
            .home__header-search{
                width: 100%;
                padding-top: 1.434rem;
                display: block;
                @include min-medium(){
                    width: 32.38%;
                }

                @include medium(){
                    display: none;
                    &.active{
                        display: block;
                        background-color:$base-blue;
                        .input-content{
                            padding-left: 16px;
                            padding-right: 16px;
                        }

                        .input-control{
                            font-size: 26px;
                            line-height: 31.03px;
                            color: $white;
                            font-family: $bold;
                            &::placeholder{
                                color: $white;
                            }
                        }
                    }
                }

                .home__search-input{
                    width: 100%;
                }
            }

        }

        .home__users{


            .home__users-section{
                margin-bottom: 4.0rem;
                
                .home__users-breadcrumb{
                    font-size: 1.6rem;
                    line-height:1.909rem;
                    letter-spacing: 0.1rem;
                    color: $base-gray;
                    /* margin-bottom: 0.6rem; */
                }

                .home__users-title{
                    font-size: 3.3rem;
                    line-height: 3.938rem;
                    letter-spacing: 0.1rem;
                    color: $white-content;
                    margin-top: 0.6rem;
                    margin-bottom: 0;

                }
                

            } 

            .home__user-list{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                margin-left: -0.98rem;
                margin-right: -0.98rem;

                @include small(){
                    justify-content: center;
                }
            }

        }


        
    }



}