.home {
    width: 100%;
    min-height: calc(100vh - 16.8rem);
    background-color: $primary;
    display: flex;
    justify-content: center;

    @include small(){
        min-height: calc(100vh - 9.6rem);
    }

    .home__container{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;

        .home__header{

            top: 168px;
            position: sticky;
            padding: 4.2rem 0;

            width: 100%;
            min-height: 9.6rem;
            display: flex;
            align-items: flex-end; 
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 26.5rem;
            margin-bottom: 12.9rem;
            background-color: $primary;

            @include medium(){
                top: 110px;
                padding-top: 1.22rem;
                padding-bottom: 4.0rem;
                margin-top: 26.1rem;
                border-bottom: 0.05rem solid #42526E;
            }



            .home__header-title{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                @include medium(){
                    &.off{
                        display: none;
                    }
                }
                
                @include min-medium(){
                    width: 57.66%;
                }

                @include small(){
                    align-items: center;
                }
                
                .home__header-text{
                    font-size: 9.2rem;
                    line-height: 10.54rem;
                    letter-spacing: 0.1rem;
                    color: $white-content;
                    font-family: $bold;
                    margin: 0;
                    
                    @include large(){
                        font-size: 5.2rem;
                        line-height: 6.0rem;
                    }
                    
                    @include small(){
                        /* font-size: 4.2rem;
                        line-height: 4.8rem; */
                        font-size: 2.6rem;
                        line-height: 2.979rem;
                    }

                }

                .input__button{
                    width: 4.4rem;
                    height: 4.4rem;
                    padding: 0;
                    display: none;
                    @include medium(){
                        display: block;
                    }

                }

            }

            
            .home__header-search{
                width: 100%;
                padding-top: 1.434rem;
                display: block;
                @include min-medium(){
                    width: 32.38%;
                }

                @include medium(){
                    display: none;
                    &.active{
                        display: block;
                        background-color:$base-blue;
                        .input-content{
                            padding-left: 1.6rem;
                            padding-right: 1.6rem;
                        }

                        .input-control{
                            font-size: 2.6rem;
                            line-height: 3.103rem;
                            color: $white;
                            font-family: $bold;
                            &::placeholder{
                                color: $white;
                            }
                        }
                    }
                }

                .home__search-input{
                    width: 100%;
                }
            }

        }

        .home__users{


            .home__users-section{
                margin-bottom: 4.0rem;
                
                .home__users-breadcrumb{
                    font-size: 1.6rem;
                    line-height:1.909rem;
                    letter-spacing: 0.1rem;
                    color: $base-gray;
                    /* margin-bottom: 0.6rem; */
                }

                .home__users-title{
                    font-size: 3.3rem;
                    line-height: 3.938rem;
                    letter-spacing: 0.1rem;
                    color: $white-content;
                    margin-top: 0.6rem;
                    margin-bottom: 0;

                }
                

            } 

            .home__user-list{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

                /* @include small(){
                    justify-content: space-between;
                } */
            }

        }


        
    }



}