.results{
    width: 100%;
    height: 100vh;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $primary;
    
    .results__stops{
        width: 55%;
        height: 100vh;
        background-color: $primary;
        display: flex;
        align-items: center;
        flex-direction: column;

        @include medium(){
            width: 100%;
        }
        
        .results__stops-container{
            margin-top: 6.5rem;
            position: relative;
            
            @include medium(){
                margin-top: 4.0rem;

            }

            .results__stops-header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 8.176rem;

                .results__header-search{
                    width: 21.9rem;
                    @include medium(){
                        display: none;
                    }
                }

                .results__header-icons{
                    display: none;
                    @include medium(){
                        display: flex;
                    }
                }

                .input-content{
                    border-bottom: 0.1rem solid $white;
                }

                .input-control{
                    color: $white;
                    &::placeholder{
                        color: $white;
                    }
                }

                .input__button  path {
                    fill: $white;
                }

            }   
            
            .results__stops-selector{
                border-bottom: 0.05rem solid $base-gray;
                margin-bottom: 5.0rem;
    
                .results__selector-button{
                    padding: 0;
                    margin-bottom: 0.8rem;
                    
                    &:hover{
                        path {
                            transition: .5s;
                            fill: $white;
                        }
                    }
                    
                }
    
                .results__selector-content{
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    padding-bottom: 0.8rem;

                    @include medium(){
                        &.off{
                            display: none;
                        }
                    }

                }
    
                .results__selector-info{
                    width: 80%;
                    
                    .results__selector-subtitle{
                        color: $base-gray;
                        font-size: 1.6rem;
                        line-height: 1.909rem;
                        letter-spacing: 0.1rem;
                        margin-bottom: 0.6rem;
                    }
        
                    .results__stops-selector-title{
                        color: $white;
                        font-family: $bold;
                        font-size: 3.3rem;
                        line-height: 3.938rem;
                        letter-spacing: 0.1rem;
                        margin: 0;
                        @extend %truncate;
                    }
                }
    
                .results__selector-icons{
                    display: none;

                    @include min-large(){
                        display: flex;
                    }
    
                    .results__button-icon{
                        padding: 0 0.75rem;
                        &.active, :hover{
                            rect {
                                transition: .5s;
                                fill: $white;
                            }
                        }
    
                    }
    
                }

                .results__selector-input {
                    display: none;

                    @include medium(){
                        &.active{
                            display: block;
                            background-color:$base-blue;
                            .input-content{
                                padding-left: 1.6rem;
                                padding-right: 1.6rem;
                                padding-top: 1.13rem;
                                padding-bottom: 1.13rem;
                                margin-top: 36.88px;
                            }
    
                            .input-control{
                                font-size: 2.6rem;
                                line-height: 3.103rem;
                                color: $white;
                                font-family: $bold;
                                &::placeholder{
                                    color: $white;
                                }
                            }
                        }
                    }
                }
    
    
            }
    
            .results__stops-data{
                width: 100%;
                height: calc(100vh - 36.6rem);
                overflow: auto;
                padding-right: 0.5rem;
                
                @include medium(){
                    height: calc(100vh - 33.9rem);

                }
                
                .results__data-section{
                    display: flex;
                    flex-direction: column;
                    /* margin-bottom: 5.0rem; */
                    padding-bottom: 5.0rem;
                    
                }

                .results__data-subcontent{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-bottom: 2.0rem;


                    .results__data-title{
                        font-size: 2.0rem;
                        line-height: 2.387rem;
                        letter-spacing: 0.1rem;
                        color: $white;
                        margin: 0;
                        margin-left: 1.7rem;
                    }

                }

                .results__data-container-content{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    @include min-large(){

                        &.results__data-container-content--row{
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            .results__data-content{
                                width: 49%;
                                flex-direction: column;
                                align-items: flex-start;
                                padding: 0.5rem 1.4rem;
                                .results__content-metrics{
                                    width: 100%;
                                    padding-left: 6.2rem;
                                    
                                    .results__content-icon{

                                        .results__icon-svg{
                                            width: 1.6rem;
                                        }

                                        .results__icon-text{
                                            font-size: 1.2rem;
                                            line-height: 1.432rem;
                                            letter-spacing: 0.1rem;
                                            margin-left: 0.6rem;
                                        }
                                    }
                                }
                            }
    
                            
    
                        }
                    }

                    
                    .results__data-content{
                        width: 100%;
                        color: $white;
                        border-radius: 0.4rem;
                        min-height: 7.6rem;
                        margin-bottom: 1.2rem;
                        background-color: $base-blue;
                        padding: 0.9rem 1.4rem;
                        padding-right: 2.5rem;
                        transition: .3s;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
    
                        /* flex-wrap: wrap; */
    
                        @include medium-large(){
                            flex-direction: column;
                            align-items: flex-start;
                            padding: 0.5rem 1.4rem;
                        }
                        
                        @include small(){
                            flex-direction: column;
                            align-items: flex-start;
                            padding: 0.5rem 1.4rem;
                        }
    
                        .results__content-name {
                            /* width: 30% */
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-top: 1.0rem;
                            margin-bottom: 1.0rem;
    
                            .results__content-number{
                                font-size: 2.6rem;
                                line-height: 3.103rem;
                                letter-spacing: 0.1rem;
                                color: $white;
                                margin: 0;
                                margin-right: 1.2rem;
                                font-family: $bold;
                            }
    
                            .results__content-text{
    
                                .results__content-title{
                                    font-size: 1.8rem;
                                    line-height: 2.148rem;
                                    letter-spacing: 0.1rem;
                                    margin: 0;
                                    margin-bottom: 0.1rem;
                                    color: $white;
                                    font-family: $bold;
                                }
    
                                .results__content-subtitle{
                                    font-size: 1.3rem;
                                    line-height: 1.551rem;
                                    letter-spacing: 0.1rem;
                                    margin: 0;
                                    color: $light-gray;
                                }
    
                            }
    
    
                        } 
    
                        .results__content-metrics{
                            width: 54%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-top: 1.0rem;
                            margin-bottom: 1.0rem;
    
                            @include medium-large(){
                                width: 100%;
                                padding-left: 6.2rem;
                                .results__icon-svg{
                                    width: 1.6rem;
                                }
                            }
                            
                            @include small(){
                                width: 100%;
                                padding-left: 6.2rem;
                                .results__icon-svg{
                                    width: 1.6rem;
                                }
                            }
    
                            .results__content-icon{
                                display: flex;
                                align-items: center;
    
                                
                                .results__icon-text{
                                    font-size: 1.8rem;
                                    line-height: 2.148rem;
                                    letter-spacing: 0.1rem;
                                    color: $light-yellow;
                                    margin: 0;
                                    margin-left: 1.219rem;
                                    
                                    @include medium-large(){
                                        font-size: 1.4rem;
                                        line-height: 1.432rem;
                                        letter-spacing: 0.1rem;
                                        margin-left: 0.6rem;
                                    }
                                    
                                    @include small(){
                                        font-size: 1.4rem;
                                        line-height: 1.432rem;
                                        letter-spacing: 0.1rem;
                                        margin-left: 0.6rem;
                                    }
                                    
                                    &.results__icon-text--green{
                                        color: $light-green;
    
                                    }
                                    
                                }
                            }
    
    
                        }
    
                        &.results__data-content--active{
                            color: $primary;
                            background-color: $white;
    
                            .results__content-number{
                                color: $primary;
                            }
    
                            .results__content-text{
                                .results__content-title{
                                    color: $primary;
                                }
                            }
                        }
    
                        &.results__data-content--card{
                            flex-direction: column;
                        }
    
                        &:hover{
                            cursor: pointer;
                        }
                        &:active{
                            transform: scale(.98);
                        }
    
    
                    }

                }


                
            }

            .results__stops-mobile-icon{
                right: 0px;
                bottom: 25px;
                display: none;
                transition: .3s;
                position: absolute;
                z-index: 2;
                &:hover{
                    cursor: pointer;
                }
                &:active{
                    transform: scale(.95);
                }

                @include medium(){
                    display: block;
                }

                .results__mobile-img{
                    width: 6.0rem;
                    height: 6.0rem;
                    border-radius: 50%;
                }

            }

        }

    }

    .results__maps{
        width: 45%;
        height: 100vh;
        background-color: $white-content;
        z-index: 3;

        
        @include medium(){
            width: 100%;
            position: fixed;
            display: none;
            &.results__maps--active{
                display: block;
    
            }
        }


        .results__maps-header{
            width: 100%;
            height: 6.8rem;
            display: none;
            align-items: flex-end;
            justify-content: space-between;
            padding: 1.0rem 1.6rem;
            background-color: $primary;

            @include medium(){
                display: flex;
            }
            

            .results__header-button{
                width: 3.2rem;
                height: 3.2rem;
                path{
                    fill: $white;
                }
            }
        }
    }

}